body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('cover1.png');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 7px;
    cursor: pointer;
    margin-left: 80px;
}

#login-form {
    display: none;
}

#rules {
    display: none;
}

#scores {
    display: none;
}

.correct-answer {
    background-color: #7FFF00;
}

/* Media queries for responsive background image */
@media only screen and (max-width: 768px) {
    body {
        background-size: contain;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        background-size: cover;
    }
}